metadata:
  name: stdl
  appName: stdl
  namespace: media
image:
  repository: harbor.rwiv.xyz/private/stdl
  tag: 0.0.0
  pullSecret: image-pull-secret
vault:
  mount: kube
  refreshAfter: 30s
  fs:
    path: media/stdl/fs
    version: 1
    secretName: stdl-fs
    fsNameKey: fs-name
affinity: {}
podLabels: {}
redis:
  host: stdl-redis-master.media.svc.cluster.local
  port: 6379
  secretName: stdl-redis
  passwordKey: password
rabbitmq:
  host: rabbitmq.infra.svc.cluster.local
  port: 5672
  username: admin
  secretName: rabbitmq-main
  passwordKey: password
server:
  replicas: 1
  containerName: stdl-server
  service:
    type: NodePort
    port: 80
    targetPort: 9083
    nodePort: 30215
  segSizeMb: 17
