metadata:
  appName: stdl-server
  name: stdl-server
  namespace: media

image:
  repository: harbor.rwiv.xyz/private/stdl
  tag: 1.0.2
  pullSecret: image-pull-secret
gluetun:
  repository: qmcgaw/gluetun
  tag: v3.40

affinity: {}
podLabels: {}
nodeAlias: ~

ingress:
  hostName: stdl.rwiv.xyz
  secretName: cloudflare-certificate

proxy:
  enabled: false
  secretName: proxy-auth
  portDomesticKey: port-domestic
  portOverseasKey: port-overseas
  usernameKey: username
  passwordKey: password
  rdns: true
  useMyIp: true

redis:
  isInternal: true
  server:
    secretName: stdl-redis-server
    passwordKey: password
  internal:
    masterHost: stdl-redis-master.media.svc.cluster.local
    masterPort: 6379
    replicaHost: stdl-redis-replicas.media.svc.cluster.local
    replicaPort: 6379
  external:
    secretName: stdl-redis-client
    hostKey: host
    masterPortKey: master-port
    replicaPortKey: replica-port
  poolSize: 200
  data:
    lockExpireSec: 10
    lockWaitSec: 5
    liveExpireSec: 604800
    segExpireSec: 86400

server:
  replicas: 1
  containerName: stdl-server
  service:
    type: ClusterIP
    name: http
    port: 80
    protocol: TCP
    targetPort: 9083
  auth:
    secretName: stdl-auth
    tokenKey: bearer-token
  fs:
    secretName: stdl-fs
    confKey: fs_conf.yaml
  segSizeMb: 17
  reqConf:
    m3u8RetryLimit: 5
    m3u8TimeoutSec: 8
    segTimeoutSec: 8
    segParallelRetryLimit: 3
    segFailureThresholdRatio: 4
    intervalWaitWeightSec: 1.2
    intervalMinTimeSec: 4
    useRust: true

vpn:
  enabled: false
  proxyEndpoint: ~
  credentials:
    secretName: nordvpn-credentials
    keys:
      username: username
      password: password
  conf:
    secretName: nordvpn-domestic
    keys:
      filename: client.ovpn
