metadata:
  name: stdl
  appName: stdl
  namespace: media
image:
  repository: harbor.rwiv.xyz/private/stdl
  tag: 0.0.0
  pullSecret: image-pull-secret
affinity: {}
podLabels: {}
redis:
  host: stdl-redis.rwiv.xyz
  port: 30211
  auth:
    secretName: stdl-redis-auth
    passwordKey: password
  tls:
    secretName: stdl-redis-tls
server:
  replicas: 1
  containerName: stdl-server
  service:
    type: NodePort
    port: 80
    targetPort: 9083
    nodePort: 30215
  segSizeMb: 17
  secrets:
    fs:
      name: stdl-fs
      fsNameKey: fs-name
