metadata:
  appName: stdl-server
  name: stdl-server
  namespace: media

image:
  repository: harbor.rwiv.xyz/private/stdl
  tag: 0.0.0
  pullSecret: image-pull-secret

affinity: {}
podLabels: {}
nodeName: ~

ingress:
  secretName: cloudflare-certificate
  hostName: stdl.home.rwiv.xyz

proxy:
  secretName: proxy-auth
  portDomesticKey: portDomestic
  portOverseasKey: portOverseas
  usernameKey: username
  passwordKey: password
  rdns: true
  useMyIp: true

redis:
  masterHost: stdl-redis-master.media.svc.cluster.local
  masterPort: 6379
  replicaHost: stdl-redis-replicas.media.svc.cluster.local
  replicaPort: 6379
  auth:
    secretName: stdl-redis-auth
    passwordKey: password
  poolSize: 200
  data:
    lockExpireMs: 10000
    lockWaitSec: 5
    liveExpireSec: 604800
    segExpireSec: 86400

server:
  replicas: 1
  containerName: stdl-server
  service:
    type: ClusterIP
    port: 80
    targetPort: 9083
  fs:
    name: stdl-fs
    fsNameKey: fs-name
  segSizeMb: 17
  reqConf:
    m3u8RetryLimit: 5
    m3u8TimeoutSec: 6
    segTimeoutSec: 8
    segParallelRetryLimit: 4
    segFailureThresholdRatio: 4
    intervalWaitWeightSec: 1.2
