metadata:
  appName: stdl-server
  namespace: media
plain:
  enabled: true
  name: stdl-server-plain
  hostName: stdl-plain.home.rwiv.xyz
vpn:
  enabled: false
  name: stdl-server-vpn
  hostName: stdl-vpn.home.rwiv.xyz
  proxyEndpoint: http://stdl-proxy.media.svc.cluster.local
  nordvpn:
    credentials:
      name: nordvpn-credentials
      keys:
        username: username
        password: password
    ovpn:
      name: nordvpn-vpn
      keys:
        filename: client.ovpn

image:
  repository: harbor.rwiv.xyz/private/stdl
  tag: 0.0.0
  pullSecret: image-pull-secret
gluetun:
  repository: qmcgaw/gluetun
  tag: v3.40

affinity: {}
podLabels: {}
nodeName: ~

gateway: istio-system/internal-gateway

redis:
  host: stdl-redis-master.media.svc.cluster.local
  port: 6379
  auth:
    secretName: stdl-redis-auth
    passwordKey: password
  tls:
    secretName: stdl-redis-tls
  poolSize: 200
  data:
    lockExpireMs: 9000
    lockWaitSec: 5
    liveExpireSec: 604800
    segExpireSec: 86400

server:
  replicas: 1
  containerName: stdl-server
  service:
    type: ClusterIP
    port: 80
    targetPort: 9083
  fs:
    name: stdl-fs
    fsNameKey: fs-name
  segSizeMb: 17
  reqConf:
    m3u8RetryLimit: 5
    m3u8TimeoutSec: 10
    segTimeoutSec: 8
    segParallelRetryLimit: 4
    segFailureThresholdRatio: 4
