apiVersion: sinks.knative.dev/v1alpha1
kind: JobSink
metadata:
  name: {{ .Values.global.name }}
  namespace: {{ .Values.global.namespace }}
spec:
  job:
    spec:
      ttlSecondsAfterFinished: 10
      template:
        spec:
          restartPolicy: Never
          containers:
            - name: {{ .Values.global.name }}
              image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
              env:
                - name: OUT_DIR_PATH
                  value: {{ .Values.persistence.mountPath }}
                - name: PY_ENV
                  value: prod
              volumeMounts:
                - name: {{ .Values.persistence.mountName }}
                  mountPath: {{ .Values.persistence.mountPath }}
          imagePullSecrets:
            - name: {{ .Values.image.pullSecret }}
          volumes:
            - name: {{ .Values.persistence.mountName }}
              persistentVolumeClaim:
                claimName: {{ .Values.persistence.pvcName }}
