metadata:
  name: stdl-server-plain
  appName: stdl-server
  namespace: media
vpn:
  name: stdl-server-vpn

ingress:
  gateway: istio-system/external-gateway
  hostName:
    plain: stdl-plain.netcup.rwiv.xyz
    vpn: stdl-vpn.netcup.rwiv.xyz

image:
  repository: harbor.rwiv.xyz/private/stdl
  tag: 0.0.0
  pullSecret: image-pull-secret
gluetun:
  repository: qmcgaw/gluetun
  tag: v3.40

affinity: {}
podLabels: {}
nodeName: ~

secret:
  nordvpn:
    credentials:
      name: nordvpn-credentials
      keys:
        username: username
        password: password
    vpn:
      name: nordvpn-vpn
      keys:
        filename: client.ovpn

redis:
  host: stdl-redis.rwiv.xyz
  port: 30211
  auth:
    secretName: stdl-redis-auth
    passwordKey: password
  tls:
    secretName: stdl-redis-tls

server:
  replicas: 1
  containerName: stdl-server
  service:
    type: ClusterIP
    port: 80
    targetPort: 9083
  segSizeMb: 17
  proxyEndpoint: http://stdl-proxy.media.svc.cluster.local
  secrets:
    fs:
      name: stdl-fs
      fsNameKey: fs-name
